<template>
  <div class="container">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-12 col-md-6 offset-md-3">
          <div class="card shadow sm">
            <div class="card-body">
              <h1 class="text-center">User Update</h1>
              <hr/>
              <div v-if="success">
                <div class="alert alert-success" role="alert">
                  Update Successfully !
                </div>
              </div>
              <div v-if="errors" v-for="error in errors">
                <p v-for="err in error"><strong class="my-2" style="color: indianred">
                  {{ err }}
                </strong>
                </p>
              </div>
              <form action="#" @submit.prevent="updateUser" class="row" method="post">
                <div class="form-group col-12">
                  <label for="name" class="font-weight-bold">Name</label>
                  <input :disabled="!isUpdating" type="text" name="name" v-model="user.name" id="name"
                         placeholder="Enter name"
                         class="form-control">
                </div>
                <div class="form-group col-12 my-2">
                  <label for="email" class="font-weight-bold">Email</label>
                  <input :disabled="!isUpdating" type="text" name="email" v-model="user.email" id="email"
                         placeholder="Enter Email"
                         class="form-control">
                </div>
                <div class="form-group col-12">
                  <label for="password" class="font-weight-bold">Password</label>
                  <input :disabled="!isUpdating" type="password" name="password" v-model="user.password" id="password"
                         placeholder="Enter Password" class="form-control">
                </div>
                <div class="form-group col-12 my-2">
                  <label for="password_confirmation" class="font-weight-bold">Confirm Password</label>
                  <input :disabled="!isUpdating" type="password" name="password_confirmation"
                         v-model="user.password_confirmation" id="password_confirmation"
                         placeholder="Enter Password" class="form-control">
                </div>
                <div class="form-group col-12 my-2 text-center">
                  <img v-if="user.image_path" :src="user.image_path" alt="user image" class="align-content-center img-thumbnail">
                </div>
                <div class="form-group col-12 my-2">
                  <label for="file" class="font-weight-bold">Image / Avatar</label>
                  <input :disabled="!isUpdating" type="file" id="file" class="form-control" v-on:change="onChange">
                </div>
                <div class="col-12 my-3">
                  <button v-if="!isUpdating" @click="isUpdating=true" class="btn btn-primary btn-block">Edit</button>
                  <button v-if="isUpdating" type="submit" :disabled="processing" class="btn btn-primary btn-block">
                    {{ processing ? "Please wait" : "Update" }}
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Account",

  data() {
    return {
      userData: {},
      user: {
        name: "",
        email: "",
        password: "",
        password_confirmation: "",
        image_path: ''
      },
      file: '',
      isUpdating: false,
      processing: false,
      errors: '',
      success: false
    }
  },
  methods: {
    onChange(e) {
      this.file = e.target.files[0]
    },
    updateUser() {
      this.processing = true
      let formData = new FormData()

      if (this.file)
      formData.append('userImage', this.file)

      _.each(this.user, (value, key) => {
        formData.append(key, value)
      })
      //handle multipart form to be sent with PUT request through POST method
      formData.append('_method', 'PUT')

      axios.post('/api/account', formData, {
        headers: {
          'Content-Type': "multipart/form-data;"
        }
      }).then(() => {
        this.success = true
        setTimeout(() => {
          this.$router.push({name: 'dashboard', params: {}})
        }, 1500)
      }).catch(({response}) => {
        this.errors = response.data.errors;
      }).finally(() => {
        this.processing = false
      })
    }
  },
  mounted() {
    axios.get('/api/account').then(({data}) => {
      this.user = data.user
    }).catch((response) => {
      console.log(response)
    })
  }
}
</script>