<template>
  <div class="container">
    <div id="vue-table">
      <h2 class="mb-4">{{ dashboardTitle }}</h2>
      <label for="search">Search by Name or Email</label>
      <input type="text" id="search" v-model="search" class="form-control"/>
      <table class="table table-striped">
        <thead>
        <tr>
          <th v-for="column in columns" :key="column">
            <a href="#" @click="sortList(column)">
              {{ column }}
            </a>
          </th>
        </tr>
        </thead>

        <tbody>
        <tr v-for="(user, index) in paginated" :key="index">
          <td>{{ user.name }}</td>
          <td>{{ user.email }}</td>
        </tr>
        </tbody>
      </table>
      <div v-if="pagesCount >= 2" class="column is-12">
        <nav aria-label="Page navigation example">
          <ul class="pagination">
            <li class="page-item"><button :disabled="(currentPage === 1)" class="page-link" @click="first()">First</button></li>
            <li class="page-item"><button :disabled="(currentPage === 1)" class="page-link" @click="prev()">Previous</button></li>
            <li class="page-item"><span class="page-link">{{ currentPage }} of {{ pagesCount }}</span></li>
            <li class="page-item"><button :disabled="(currentPage >= pagesCount)" class="page-link" @click="next()">Next</button></li>
            <li class="page-item"><button :disabled="(currentPage >= pagesCount)" class="page-link" @click="last()">Last</button></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</template>
<script>

export default {
  name: "dashboard",
  data() {
    return {
      users: {},
      search: '',
      dashboardTitle: '',
      pageSize: 20,
      currentPage: 1,
      pagesCount: 1,
      sortedbyASC: true,
      columns: ['name', 'email'],
    }
  },
  methods: {
    sortList(sortBy) {
      if (this.sortedbyASC) {
        this.paginated.sort((x, y) => (x[sortBy] > y[sortBy] ? -1 : 1));
        this.sortedbyASC = false;
      } else {
        this.paginated.sort((x, y) => (x[sortBy] < y[sortBy] ? -1 : 1));
        this.sortedbyASC = true;
      }
    },
    async retrieveData() {
      axios.get('/api/dashboard').then(({data}) => {
        data.role === 1 ? this.dashboardTitle = 'Employees' : this.dashboardTitle = 'Managers'
        let user_data = {
          imagePath: data.user_image,
          name: data.name
        }
        this.$emit('imagePath', user_data)
        this.users = data.users
      }).catch((response) => {
        console.log(response)
      })
    },
    first() {
      this.currentPage = 1;
    },
    prev() {
      this.currentPage--;
    },
    next() {
      this.currentPage++;
    },
    last() {
      this.currentPage = this.pagesCount;
    },
  },
  created() {
    this.retrieveData();
  },
  computed: {
    filteredUsers() {
      return Object.values(this.users).filter(user => {
        return (user.name.toLowerCase().includes(this.search.toLowerCase()) || user.email.toLowerCase().includes(this.search.toLowerCase()))
      })
    },
    userIndexStart() {
      return (this.currentPage - 1) * this.pageSize
    },
    userIndexEnd() {
      return this.userIndexStart +  this.pageSize
    },
    paginated() {
      this.pagesCount = Math.round((this.filteredUsers.length / this.pageSize))
      return this.filteredUsers.slice(this.userIndexStart, this.userIndexEnd)
    },
  }
}
</script>