<template>
  <div class="h-100 d-flex justify-content-center align-items-center" style="margin-top: 6rem;">
    <section class="pb-4">
      <div class="bg-white border rounded-3">

        <section class="w-100 p-4 pb-4">
          <h1 class="text-center">Login</h1>
          <hr/>
          <form style="width: 22rem;">
            <div v-if="errors" v-for="error in errors">
              <p v-for="err in error"><strong class="my-2" style="color: indianred">
                {{ err }}
              </strong>
              </p>
            </div>
            <div v-if="message">
              <p><strong class="my-2" style="color: indianred">
                {{ message }}
              </strong>
              </p>
            </div>
            <div class="form-outline mb-4">

              <input type="email" v-model="auth.email" id="email" class="form-control">
              <label class="form-label" for="email" style="margin-left: 0px;">Email address</label>

              <div class="form-notch">
                <div class="form-notch-leading" style="width: 9px;"></div>
                <div class="form-notch-middle" style="width: 88.8px;"></div>
                <div class="form-notch-trailing"></div>
              </div>
            </div>

            <!-- Password input -->
            <div class="form-outline mb-4">
              <input type="password" v-model="auth.password" id="password" class="form-control">
              <label class="form-label" for="password" style="margin-left: 0px;">Password</label>
              <div class="form-notch">
                <div class="form-notch-leading" style="width: 9px;"></div>
                <div class="form-notch-middle" style="width: 64.8px;"></div>
                <div class="form-notch-trailing"></div>
              </div>
            </div>
            <!-- Submit button -->
            <div class="d-flex justify-content-between ">
              <button type="submit" :disabled="processing" @click="login" class="btn btn-primary btn-block">
                {{ processing ? "Please wait" : "Login" }}
              </button>
              <label class="mt-2">Don't have an account?
                <router-link :to="{name:'register'}">Register Now!</router-link>
              </label>
            </div>
          </form>
        </section>
      </div>
    </section>

  </div>

</template>
<script>
export default {
  name: "login",
  data() {
    return {
      auth: {
        email: "",
        password: ""
      },
      success: false,
      processing: false,
      message: '',
      errors: ''
    }
  },
  methods: {
    async login() {
      this.processing = true
      await axios.get('/sanctum/csrf-cookie').then(() => {
        axios.post('/api/login', this.auth).then(({data}) => {
          localStorage.setItem("token", data.token);
          this.$router.push('/')
        }).catch(({response}) => {
          if (response.data.errors) {
            this.errors = response.data.errors;
          } else {
            this.errors = ''
            this.message = response.data.message
          }

        }).finally(() => {
          this.processing = false
        })
      }).catch((response) => {
        console.log(response)
      })
    },
  }
}
</script>