<template>
  <div class="container h-100" style="margin-top: 6rem;">
    <div class="row h-100 align-items-center">
      <div class="col-12 col-md-6 offset-md-3">
        <div class="card shadow sm">
          <div class="card-body">
            <h1 class="text-center">Register</h1>
            <hr/>
            <form action="" @submit.prevent="register" class="row" method="post">
              <div v-if="success">
                <div class="alert alert-success" role="alert">
                  Register Successfully - Redirecting to Login Page!
                </div>
              </div>
              <div v-if="errors" v-for="error in errors">
                <p v-for="err in error"><strong class="my-2" style="color: indianred">
                  {{ err }}
                </strong>
                </p>
              </div>
              <div class="form-group col-12">
                <label for="name" class="font-weight-bold">Name</label>
                <input type="text" name="name" v-model="user.name" id="name" placeholder="Enter name"
                       class="form-control">
              </div>
              <div class="form-group col-12 my-2">
                <label for="email" class="font-weight-bold">Email</label>
                <input type="text" name="email" v-model="user.email" id="email" placeholder="Enter Email"
                       class="form-control">
              </div>
              <div class="form-group col-12">
                <label for="password" class="font-weight-bold">Password</label>
                <input type="password" name="password" v-model="user.password" id="password"
                       placeholder="Enter Password" class="form-control">
              </div>
              <div class="form-group col-12 my-2">
                <label for="password_confirmation" class="font-weight-bold">Confirm Password</label>
                <input type="password" name="password_confirmation" v-model="user.password_confirmation"
                       id="password_confirmation" placeholder="Enter Password" class="form-control">
              </div>
              <div class="form-group col-12">
                <label for="file" class="font-weight-bold">Image / Avatar</label>
                <input type="file" id="file" class="form-control"  v-on:change="onChange">
              </div>
              <div class="col-12 my-4">
                <button type="submit" :disabled="processing" class="btn btn-primary btn-block">
                  {{ processing ? "Please wait" : "Register" }}
                </button>
              </div>
              <div class="col-12 text-center">
                <label>Already have an account?
                  <router-link :to="{name:'login'}">Login Now!</router-link>
                </label>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: 'register',
  data() {
    return {
      user: {
        name: "",
        email: "",
        password: "",
        password_confirmation: "",
      },
      file: "",
      errors: '',
      success: '',
      processing: false
    }
  },
  methods: {
    onChange(e) {
      this.file = e.target.files[0];
    },
    async register() {
      this.processing = true
      let formData = new FormData()

      if (this.file)
      formData.append('userImage', this.file)

      _.each(this.user, (value, key) => {
        formData.append(key, value)
      })

      await axios.get('/sanctum/csrf-cookie').then(() => {
        axios.post('/api/register', formData, {
          headers: {
            'Content-Type': "multipart/form-data;"
          }
        }).then(() => {
          this.success = true;
          setTimeout(() => {
            this.$router.push('/login')
          }, 1500)
        }).catch(({response}) => {
          console.log(response)
          this.errors = response.data.errors;
        }).finally(() => {
          this.processing = false
        })
      }).catch(({response}) => {
        this.errors = response.data.errors;
      })
    },
  }
}
</script>