<template>
  <div>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark container">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">Panel</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav me-auto">
            <li class="nav-item">
              <router-link :to="{name:'dashboard'}" class="nav-link">Home</router-link>
            </li>
            <li class="nav-item">
              <router-link :to="{name:'account'}" class="nav-link">Account</router-link>
            </li>
          </ul>
          <div class="d-flex">
            <ul class="navbar-nav">
              <li class="align-middle" style="padding-top: 12px; margin-right: 7px;">
                <span class="" style="color: whitesmoke; font-size: 18px">
                  {{user_name}}
                </span>
              </li>
              <li class="nav-item dropdown d-inline-flex">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                   data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <img :src="image_path ?? '/storage/uploads/default.jpg'" width="40" height="40" class="rounded-circle">
                </a>
                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
                  <router-link :to="{name:'account'}" class="dropdown-item">Edit Account</router-link>
                  <a class="dropdown-item" href="#" @click="logout">Logout</a>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>

    <main class="mt-3">
      <router-view @imagePath="imagePath"></router-view>
    </main>

  </div>
</template>
<script>

export default {
  name: "auth-layout",
  data() {
    return {
      image_path: '',
      user_name: ''
    }
  },
  methods: {
    async logout() {
      await axios.post('/api/logout').then(() => {
        localStorage.removeItem('token')
        this.$router.push('/login')
      }).catch((response) => {
        console.log(response)
      })
    },
    imagePath(userInfo) {
      this.image_path = userInfo.imagePath
      this.user_name = userInfo.name
    }
  }
}
</script>